<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <base href="./" th:href="'/template/'"/>
		<title th:text="${catalog.name + ' —— 西安德雅通科技有限公司'}">德雅通科技有限公司</title>
		<link rel="stylesheet" type="text/css" href="styles/group.css"/>
		<link rel="stylesheet" type="text/css" href="styles/common.skin/common.css"/>
		<link rel="stylesheet" type="text/css" href="styles/qita.skin/qita.css"/>
		<link rel="stylesheet" type="text/css" href="styles/list.css"/>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<!--/*-->
		<script type="text/javascript" src="js/dev.js"></script>
		<!--*/-->
		<script type="text/javascript" src="js/all.js"></script>
		<script th:inline="javascript">
			function btnSearch(){
				var sqCode = $("#sqCode").val();
				var queryCode = $("#queryCode").val();
				if(sqCode == ""){
					alert("请输入信件编码");
					return false;
				}
				if(queryCode == ""){
					alert("请输入查询码");
					return false;
				}
				var pathName = [[${catalog.pathName}]];
				location.href='/'+pathName+'/info/appeal/search.html?sqCode='+sqCode+'&queryCode='+queryCode;
			}
		</script>
	</head>
	<body>
        <!-- 底部 start -->
        <!--#include virtual='/include/header.html'-->
        <!-- 底部 end -->
        <div class="g-bd m-cpfw">
            <th:block th:with="catalogList = ${#CataData.getCatalogChildrenTree(site.id,catalog.id)}">
                <div class="g-1st-lt left" th:if="${catalogList!=null}">
                    <div class="m-lst-tnm">[[${catalog.name}]]</div>
                    <ul class="m-lst-nav">
                        <li th:each="cata : ${catalogList}" th:class="${cata.id == catalog.id ? 'hover':''}">
                            <a th:href="${cata.linkUrl}">[[${cata.name}]]</a>
                        </li>
                    </ul>
                </div>
                <div class="g-1st-lt left" th:if="${catalogList==null}">
                    <div class="m-lst-tnm" th:with="parentCatalog = ${#CataData.getCatalog(site.id,catalog.parentId)}">[[${parentCatalog.name}]]</div>
                    <ul class="m-lst-nav">
                        <li th:each="cata : ${#CataData.getCatalogChildrenTree(site.id,catalog.parentId)}" th:class="${cata.id == catalog.id ? 'hover':''}">
                            <a th:href="${cata.linkUrl}">[[${cata.name}]]</a>
                        </li>
                    </ul>
                </div>
            </th:block>
			<div class="g-1st-rt right">
                <th:block th:with="model=${#AppealData.getModelById('1191557751222882305',site.id,catalog.id)}">
    				<div class="m-tnm">
                        <div class="m-rst-tnm left">
                            <a th:href="${catalog.linkUrl}">[[${catalog.name}]]</a>
                        </div>
                        <div class="m-local right" >
                            当前位置：
                            <span><a href="/" >首页</a></span>
                            <th:block th:each="c :${#CataData.getCatalogPosition(site.id,catalog.id)}">
                                <span>></span><span><a th:href="${c.linkUrl}">[[${c.name}]]</a></span>
                            </th:block>
                        </div>
    				</div>
    				<div class="xjcx">
                        <input type="hidden" value="10455" name="cat_id">
                        <input type="hidden" value="17" name="tm_id">
                        <span>信件编码</span><input id="sqCode" name="sqCode" value="" placeholder="请输入信件编码">
                        <span>查询码</span><input id="queryCode" name="queryCode" value="" placeholder="请输入查询码">
                        <button onclick="btnSearch()" type="button">查询</button>
                        <span class="yxx"><a th:href="${model.formUrl}">【我要写信】</a></span>
                    </div>
    				<div class="xjcx">
                        <span>
                        	本年度：提交：
                        	<span th:with="count = ${#AppealData.getAllAppealCount(#{'modelId':model.id,'countData':'years'})}" th:text="${count}"></span>
                        </span>
                        <span>
                        	未受理：
                        	<span th:with="count = ${#AppealData.getAllAppealCount(#{'modelId':model.id,'countData':'years','countType':'wsl'})}" th:text="${count}"></span>
                        </span>
                        <span>
                        	受理：
                        	<span th:with="count = ${#AppealData.getAllAppealCount(#{'modelId':model.id,'countData':'years','countType':'sl'})}" th:text="${count}"></span>
                        </span>
                        <span>
                        	办结：
                        	<span th:with="count = ${#AppealData.getAllAppealCount(#{'modelId':model.id,'countData':'years','countType':'bj'})}" th:text="${count}"></span>
                        </span>
                    </div>
    				<div class="xjcx">
                        <span>
                        	昨日：提交：
                        	<span th:with="count = ${#AppealData.getAllAppealCount(#{'modelId':model.id,'countData':'yesterday'})}" th:text="${count}"></span>
                        </span>
                        <span>
                        	未受理：
                        	<span th:with="count = ${#AppealData.getAllAppealCount(#{'modelId':model.id,'countData':'yesterday','countType':'wsl'})}" th:text="${count}"></span>
                        </span>
                        <span>
                        	受理：
                        	<span th:with="count = ${#AppealData.getAllAppealCount(#{'modelId':model.id,'countData':'yesterday','countType':'sl'})}" th:text="${count}"></span>
                        </span>
                        <span>
                        	办结：
                        	<span th:with="count = ${#AppealData.getAllAppealCount(#{'modelId':model.id,'countData':'yesterday','countType':'bj'})}" th:text="${count}"></span>
                        </span>
                    </div>
    				<div class="xjcx">
                        <span>
                        	上月：提交：
                        	<span th:with="count = ${#AppealData.getAllAppealCount(#{'modelId':model.id,'countData':'ultimo'})}" th:text="${count}"></span>
                        </span>
                        <span>
                        	未受理：
                        	<span th:with="count = ${#AppealData.getAllAppealCount(#{'modelId':model.id,'countData':'ultimo','countType':'wsl'})}" th:text="${count}"></span>
                        </span>
                        <span>
                        	受理：
                        	<span th:with="count = ${#AppealData.getAllAppealCount(#{'modelId':model.id,'countData':'ultimo','countType':'sl'})}" th:text="${count}"></span>
                        </span>
                        <span>
                        	办结：
                        	<span th:with="count = ${#AppealData.getAllAppealCount(#{'modelId':model.id,'countData':'ultimo','countType':'bj'})}" th:text="${count}"></span>
                        </span>
                    </div>
    				<div class="xjcx">
                        <span>
                        	本月：提交：
                        	<span th:with="count = ${#AppealData.getAllAppealCount(#{'modelId':model.id,'countData':'instant'})}" th:text="${count}"></span>
                        </span>
                        <span>
                        	未受理：
                        	<span th:with="count = ${#AppealData.getAllAppealCount(#{'modelId':model.id,'countData':'instant','countType':'wsl'})}" th:text="${count}"></span>
                        </span>
                        <span>
                        	受理：
                        	<span th:with="count = ${#AppealData.getAllAppealCount(#{'modelId':model.id,'countData':'instant','countType':'sl'})}" th:text="${count}"></span>
                        </span>
                        <span>
                        	办结：
                        	<span th:with="count = ${#AppealData.getAllAppealCount(#{'modelId':model.id,'countData':'instant','countType':'bj'})}" th:text="${count}"></span>
                        </span>
                    </div>
    				<div class="xjcx">
                        <span>
                        	今日：提交：
                        	<span th:with="count = ${#AppealData.getAllAppealCount(#{'modelId':model.id,'countData':'curday'})}" th:text="${count}"></span>
                        </span>
                        <span>
                        	未受理：
                        	<span th:with="count = ${#AppealData.getAllAppealCount(#{'modelId':model.id,'countData':'curday','countType':'wsl'})}" th:text="${count}"></span>
                        </span>
                        <span>
                        	受理：
                        	<span th:with="count = ${#AppealData.getAllAppealCount(#{'modelId':model.id,'countData':'curday','countType':'sl'})}" th:text="${count}"></span>
                        </span>
                        <span>
                        	办结：
                        	<span th:with="count = ${#AppealData.getAllAppealCount(#{'modelId':model.id,'countData':'curday','countType':'bj'})}" th:text="${count}"></span>
                        </span>
                    </div>
    				<div class="g-blk15"></div>
    				<th:block th:with="appealList = ${#AppealData.getAppealList(#{'modelId':model.id,'siteId':site.id,'catId':catalog.id},pageNo,1)}">
    				<div class="m-xwzx">
    					<div class="table2 ">
                            <div class="table2-tr">
                                <div class="table2-th  tdw140" style="height:35px; width:110px;">受理编号</div>
                                <div class="table2-th  tdw140" style="height:35px; width:160px;">信件标题</div>
                                <div class="table2-th  tdw80" style="height:35px">来信时间</div>
                                 <div class="table2-th  tdw80" style="height:35px">回复时间</div>
                                <div class="table2-th tdw80" style="height:35px">受理部门</div>
                                <div class="table2-th  tdw80" style="height:35px; width:60px;">处理状态</div>
                            </div>
                            <div class="table2-tr" th:each="item : ${appealList.records}">
                                <div class="table2-td tdbgi2 tdw140" style="width:110px;">[[${item.sqCode}]]</div>
                                <div class="table2-td tdbgi2 t-i20" style="width:160px;overflow: hidden;">
                                	<a th:href="${item.url}">[[${item.title}]]</a>
                                </div>
                                <div class="table2-th  tdbgi2 tdw80">[[${#dates.format(item.createTime,'yyyy-MM-dd HH:mm')}]]</div>
                                <div class="table2-th  tdbgi2 tdw80">[[${#dates.format(item.replyTime,'yyyy-MM-dd HH:mm')}]]</div>
                                <div class="table2-th  tdbgi2 tdw80">
                                	[[${item.deptName}]]
                                </div>
                                <div class="table2-td tdbgi2 tdw80" style="width:60px;">
                                    <span style="color:#cc0000;" th:if="${item.sqStatus==0}">待处理</span>
                                    <span style="color:#cc0000;" th:if="${item.sqStatus==1}">办理中</span>
                                    <span style="color:#cc0000;" th:if="${item.sqStatus==3}">已办结</span>
                                </div>
                            </div>
                        </div>
    				</div>
                    <!--翻页begin-->
                    <div class="m-lst-pg">
                        <span><a th:href="${appealList.firstPageUrl}">首页</a></span>
                        <span><a th:href="${appealList.prePageUrl}">上一页</a></span>
                        <span><a th:href="${appealList.nextPageUrl}">下一页</a></span>
                        <span><a th:href="${appealList.endPageUrl}">末页</a></span>
                        <span th:text="'共'+${appealList.total}+'条记录'">共110条记录</span>
                        <span th:text="'共'+${appealList.pages}+'页'">共10页</span>
                        <span>跳转到 <select onChange="location.href=this.options[this.selectedIndex].value;"> 
                            <option th:each="p,status : ${appealList.pageList}" th:value="${p}" th:selected="${status.index+1} == ${appealList.current}" th:text="${status.index+1}">[[${status.index+1}]]</option> 
                        </select>页 </span>
                    </div><!--翻页end-->
    			</div>
    			</th:block>
            </th:block>
		</div>
		<!-- 底部 start -->
		<div id="footer" th:replace="/其他/底部通用.html"></div>
		<!-- 底部 end -->
	</body>
</html>
