<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <base href="./" th:href="'/template/'"/>
		<title th:text="${catalog.name + ' —— 西安德雅通科技有限公司'}">德雅通科技有限公司</title>
		<link rel="stylesheet" type="text/css" href="styles/group.css"/>
		<link rel="stylesheet" type="text/css" href="styles/common.skin/common.css"/>
		<link rel="stylesheet" type="text/css" href="styles/qita.skin/qita.css"/>
        <link rel="stylesheet" type="text/css" href="styles/list.css"/>
		<script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery.validate.js"></script>
        <script type="text/javascript" src="js/appeal.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<!--/*-->
		<script type="text/javascript" src="js/dev.js"></script>
		<!--*/-->
		<script type="text/javascript" src="js/all.js"></script>
        <script type="text/javascript">
            changeCreateImage();
        </script>
	</head>
	<body>
		<!-- 头部 start-->
		<div id="header" th:replace="/other/头部通用.html"></div>
		<!-- 头部 end-->
		<div class="g-bd m-cpfw">
			<th:block th:with="catalogList = ${#CataData.getCatalogChildrenTree(site.id,catalog.id)}">
				<div class="g-1st-lt left" th:if="${catalogList!=null}">
					<div class="m-lst-tnm">[[${catalog.name}]]</div>
					<ul class="m-lst-nav">
	                    <li th:each="cata : ${catalogList}" th:class="${cata.id == catalog.id ? 'hover':''}">
	                    	<a th:href="${catalog.linkUrl}">[[${cata.name}]]</a>
	                    </li>
					</ul>
				</div>
				<div class="g-1st-lt left" th:if="${catalogList==null}">
					<div class="m-lst-tnm" th:with="parentCatalog = ${#CataData.getCatalog(site.id,catalog.parentId)}">[[${parentCatalog.name}]]</div>
					<ul class="m-lst-nav">
	                    <li th:each="cata : ${#CataData.getCatalogChildrenTree(site.id,catalog.parentId)}" th:class="${cata.id == catalog.id ? 'hover':''}">
	                    	<a th:href="${catalog.linkUrl}">[[${cata.name}]]</a>
	                    </li>
					</ul>
				</div>
			</th:block>
			<div class="g-1st-rt right">
				<div class="m-tnm">
					<div class="m-rst-tnm left">
						<a th:href="${catalog.linkUrl}" th:text="${catalog.name}" href="xwzx.html">[[${catalog.name}]]</a>
					</div>
					<div class="m-local right" >
						当前位置：
						<span><a href="/" >首页</a></span>
						<th:block th:each="c :${#CataData.getCatalogPosition(site.id,catalog.id)}">
							<span>></span><span><a th:href="${catalog.linkUrl}" href="xwzx.html" th:text="${c.name}">[[${c.name}]]</a></span>
						</th:block>
					</div>
				</div>
				<div class="g-blk15"></div>
				<div class="m-xwzx">
                	<th:block th:with="infoList = ${#InfoData.getInfoList(#{'siteId':site.id,'catId':catalog.id},1,1)}">
						<div class="advbox" th:each="item : ${infoList.records}">
	                        <div class="advbox-tt">
	                            <div class="advbox-title">[[${item.title}]]</div>
	                        </div>
	                        <div class="advpic"  th:utext="${item.resourceContent}"></div>
	                    </div>
                    </th:block>
					<a th:href="@{'/'+${catalog.pathName+'/form/applyopen/1194468064054259713.jhtml'}}">【我已阅读，去办理】</a>
                    <div class="g-blk12"></div>
				</div>
			</div>
		</div>
		<!-- 底部 start -->
		<div id="footer" th:replace="/other/底部通用.html"></div>
		<!-- 底部 end -->
	</body>
</html>
