<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <base href="./" th:href="'/template/'"/>
		<title th:text="${catalog.name + ' —— 西安德雅通科技有限公司'}">德雅通科技有限公司</title>
		<link rel="stylesheet" type="text/css" href="styles/group.css"/>
		<link rel="stylesheet" type="text/css" href="styles/common.skin/common.css"/>
		<link rel="stylesheet" type="text/css" href="styles/qita.skin/qita.css"/>
        <link rel="stylesheet" type="text/css" href="styles/list.css"/>
		<script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery.validate.js"></script>
        <script type="text/javascript" src="js/appeal.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<!--/*-->
		<script type="text/javascript" src="js/dev.js"></script>
		<!--*/-->
		<script type="text/javascript" src="js/all.js"></script>
	</head>
	<body>
        <!-- 底部 start -->
        <!--#include virtual='/include/header.html'-->
        <!-- 底部 end -->
        <div class="g-bd m-cpfw">
            <th:block th:with="catalogList = ${#CataData.getCatalogChildrenTree(site.id,catalog.id)}">
                <div class="g-1st-lt left" th:if="${catalogList!=null}">
                    <div class="m-lst-tnm">[[${catalog.name}]]</div>
                    <ul class="m-lst-nav">
                        <li th:each="cata : ${catalogList}" th:class="${cata.id == catalog.id ? 'hover':''}">
                            <a th:href="${cata.linkUrl}">[[${cata.name}]]</a>
                        </li>
                    </ul>
                </div>
                <div class="g-1st-lt left" th:if="${catalogList==null}">
                    <div class="m-lst-tnm" th:with="parentCatalog = ${#CataData.getCatalog(site.id,catalog.parentId)}">[[${parentCatalog.name}]]</div>
                    <ul class="m-lst-nav">
                        <li th:each="cata : ${#CataData.getCatalogChildrenTree(site.id,catalog.parentId)}" th:class="${cata.id == catalog.id ? 'hover':''}">
                            <a th:href="${cata.linkUrl}">[[${cata.name}]]</a>
                        </li>
                    </ul>
                </div>
            </th:block>
            <div class="g-1st-rt right">
                <div class="m-tnm">
                    <div class="m-rst-tnm left">
                        <a th:href="${catalog.linkUrl}">[[${catalog.name}]]</a>
                    </div>
                    <div class="m-local right" >
                        当前位置：
                        <span><a href="/" >首页</a></span>
                        <th:block th:each="c :${#CataData.getCatalogPosition(site.id,catalog.id)}">
                            <span>></span><span><a th:href="${c.linkUrl}">[[${c.name}]]</a></span>
                        </th:block>
                    </div>
                </div>
				<div class="g-blk15"></div>
				<div class="m-xwzx">
					<form id="appealForm" class="">
                        <input type="hidden" name="modelId" id="modelId" th:value="${modelData.id}"><!--业务ID-->
                        <input type="hidden" name="namePath" id="namePath" th:value="${catalog.pathName}"><!--栏目-->
                        <input type="hidden" name="actionType" id="actionType" value="insertAppeal"><!--表单类型-->
                        <input type="hidden" name="random" id="random" value=""><!--验证码KEY-->
                        <div class="sendForm">
                            <div class="blank15"></div>
                            <table class="regFormTable" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <th>信件标题：</th>
                                    <td><input id="title" name="title" type="text" class="width400 input_text" placeholder="请输入信件标题(100字以内)" value="">
                                        <span class="f_red">*</span><div class="cError"></div>
                                    </td>
                                </tr>
                                <tr><td><div class="blank6"></div></td></tr>
                                <tr>
                                    <th>受理部门：</th>
                                    <td>
                                        <select name="deptId" id="deptId" style="width:125px;" class="input_select valid" th:with="deptList = ${#AppealData.getPartDept(modelData.id)}">
                                            <option selected value="">请选择受理部门</option>
                                            <option value="-1" style="color:red;">我不知道部门</option>
                                            <option th:each="item : ${deptList}" th:value="${item.id}" th:text="${item.name}">[[${item.name}]]</option>         
                                        </select>
                                        <span class="f_red">*</span><div class="cError"></div>
                                    </td>
                                </tr>
                                <tr><td><div class="blank6"></div></td></tr>
                                <tr>
                                    <th>写信目的：</th>
                                    <td>
                                    	<th:block th:with="purposeList = ${#AppealData.getPurposeList()}">
                                    		<span th:each="item,itemStat : ${purposeList}">
	                                            <input type="radio" th:value="${item.id}" th:if="${itemStat.index==0}" checked="true" name="purId" id="purId" class="radioClass input_radio">
	                                            <input type="radio" th:value="${item.id}" th:if="${itemStat.index > 0}" name="purId" id="purId" class="radioClass input_radio">
	                                            <label for="pur_1" th:text="${item.purposeName}">[[${item.purposeName}]]</label>
                                       		</span>
                                        </th:block>
                                    </td>
                                </tr>
                                <tr><td><div class="blank6"></div></td></tr>
                                <tr>
                                    <th>公开意愿：</th>
                                    <td>
                                        <input type="radio" value="1" name="isOpen" id="isOpen" class="radioClass input_radio" checked="true">
                                        <label for="pur_1">公开</label>
                                        <input type="radio" value="2" name="isOpen" id="isOpen" class="radioClass input_radio">
                                        <label for="pur_1">不公开</label>
                                        <label style="margin-left: 20px;color: #f00;">注:选择公开的将有可能当作案例在网站公开。</label>
                                    </td>
                                </tr>                                    
                                <tr><td><div class="blank6"></div></td></tr>
                                <tr>
                                    <th>信件内容：</th>
                                    <td>
                                        <textarea id="content" name="content" style="width:460px;height:250px" placeholder="请输入信件内容" class="input_textarea"></textarea>
                                        <div class="cError"></div>
                                    </td>
                                </tr>
                                <tr><td><div class="blank6"></div></td></tr>
                            </tbody></table>
                            <table class="regFormTable" cellspacing="0" cellpadding="0" border="0">
                                <tbody><tr>
                                    <th>姓<span class="spanSpace12"></span><span class="spanSpace12"></span>名：</th>
                                    <td><input id="userName" name="userName" type="text" class="width400 input_text" value="" placeholder="请输入您的姓名">
                                        <span class="f_red">*</span><div class="cError"></div>
                                    </td>
                                </tr>
                                <tr><td><div class="blank6"></div></td></tr>
                                <tr>
                                    <th>身份证号：</th>
                                    <td><input id="cardId" name="cardId" type="text" class="width400 input_text" value="" placeholder="请输入您的电子邮箱">
                                        <span class="f_red">*</span><div class="cError"></div></td>
                                </tr>
                                <tr><td><div class="blank6"></div></td></tr>
                                <tr>
                                    <th>联系地址：</th>
                                    <td><input id="address" name="address" type="text" class="width400 input_text" value="" placeholder="请输入您联系地址">
                                        <span class="f_red">*</span><div class="cError"></div></td>
                                </tr>
                                <tr><td><div class="blank6"></div></td></tr>
                                <tr>
                                    <th>联系手机：</th>
                                    <td><input id="phone" name="phone" type="text" class="width400 input_text" value="" placeholder="请输入您的手机号码">
                                        <span class="f_red">*</span><div class="cError"></div></td>
                                </tr>
                                <tr><td><div class="blank6"></div></td></tr>
                                <tr>
                                    <th>电子邮件：</th>
                                    <td><input id="email" name="email" type="text" class="width400 input_text" value="" placeholder="请输入您的电子邮箱">
                                        <span class="f_red">*</span><div class="cError"></div></td>
                                </tr>
                                <tr><td><div class="blank6"></div></td></tr>      
                                <tr>
									<th>验<span class="spanSpace6"></span>证<span class="spanSpace6"></span>码：</th>
									<td>
										<input id="verifyCode" name="verifyCode" type="text" class="" value=""  maxlength="4" style="width:78px;" />
										<img alt="" width="80" height="22" id="img" align="absmiddle"/>&nbsp;&nbsp;
										<a href="javascript:changeCreateImage();">看不清，请换一张</a>
										<div class="cError"></div>
									</td>
								</tr>
                                <tr>
                                    <td colspan="2" algin="center">
                                        <div class="blankHeight20"></div>
                                        <div style="width:auto;text-align:center;border:0px;">
                                            <input id="btnOK" name="btnOK" type="button" onclick="insertAppeal()" value="提交"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input id="btnRst" name="btnReSet" type="reset" value="重置">
                                        </div>
                                        <div class="blankHeight20"></div>
                                    </td>
                                </tr>
                            </tbody>
                        	</table>
                        </div>
                    </form>
                    <div id="result_div" class="result_div hidden">
                        <table class="regFromSuccessTable" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <th><b>提交成功：</b></th>
                                <td>谢谢您的参与！</td>
                            </tr>
                            <tr>
                                <th><b>信件编码：</b></th>
                                <td id="result_sq_code"></td>
                            </tr>
                            <tr>
                                <th><b>查询密码：</b></th>
                                <td id="result_query_code"></td>
                            </tr>
                            <tr>
                                <th><b>友情提示：</b></th>
                                <td>请妥善保存您的信件编码及查询码</td>
                            </tr>
                        </table>
                    </div>
                    <div class="g-blk12"></div>
				</div>
			</div>
		</div>
	    <!-- 底部 start -->
	    <!--#include virtual='/include/footer.html'-->
	    <!-- 底部 end -->
	</body>
</html>
