<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>德雅通科技有限公司</title>
        <base href="./" th:href="'/template//'"/>
        <link rel="stylesheet" type="text/css" href="styles/group.css"/>
        <link rel="stylesheet" type="text/css" href="styles/common.skin/common.css"/>
        <link rel="stylesheet" type="text/css" href="styles/qita.skin/content.css"/>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/common.js"></script>
        <!--/*-->
        <script type="text/javascript" src="js/dev.js"></script>
        <!--*/-->
        <script type="text/javascript" src="js/all.js"></script>
        <script type="text/javascript" src="js/stomp.min.js"></script>
        <script type="text/javascript" src="js/sockjs.min.js"></script>
        <script type="text/javascript" src="js/interview.js"></script>
        <script th:inline="javascript">
            $(document).ready(function(){
                var interview = [[${interviewData}]]; 
                initInterview(interview);
            });
        </script>
    </head>
    <body>
    <!-- 头部 start-->
    <div id="header" th:replace="/other/header.html"></div>
    <!-- 头部 end-->
    <div class="g-bd">
        <div class="g-blk15"></div>
        <div class="g-blk15"></div>
        <div class="m-local">
            当前位置：
            <span>
                <a href="index/index.html" th:href="'/'">首页</a>
            </span>
            <th:block th:each="c :${#CataData.getCatalogPosition(site.id,catalog.id)}">
                <span>></span><span><a th:href="'/'+${c.pathName}+'_catagory.jhtml'">[[${c.name}]]</a></span>
            </th:block>
            <span>></span>
            <span>内容页</span>
        </div>
        <div class="g-blk15"></div>
        <div class="m-ct" style="text-align: left;">
            <div style="width:450px;float:left;">
                <video width="420">
                    <source th:src="${interviewData.videoUrl}" type="video/mp4" />
                </video>
            </div>
            <div style="width:600px;float: right;">
                <p><span style="font-weight: bold;">主题：</span><span th:text="${interviewData.name}">[[${interviewData.name}]]</span></p>
                <p><span style="font-weight: bold;">时间：</span><span th:text="${interviewData.time}">[[${interviewData.time}]]</span></p>
                <p><span style="font-weight: bold;">简介：</span><span th:text="${interviewData.description}">[[${interviewData.description}]]</span></p>
                <p>直播地址：<span th:text="${interviewData.liveUrl}">[[${interviewData.liveUrl}]]</span></p>
                <p><span style="font-weight: bold;">嘉宾简介</span></p>
                <ul>
                    <li th:each="guest: ${interviewData.guestVoList}">
                        [[${guest.name}]] [[${guest.job}]]
                    </li>
                </ul>
            </div>
            <div class="g-blk15"></div>
            <p>图片直播</p>
            <div id="picLive"><ul></ul></div>
            <p>文字直播</p>
            <div id="fontLive"><ul></ul></div>
            <div class="g-blk15"></div>
        </div>
    </div>
    <!-- 底部 start -->
    <div id="footer" th:replace="/other/footer.html"></div>
    <!-- 底部 end -->
    </body>
</html>
