<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>德雅通科技有限公司</title>
        <base href="/template/"/>
        <link rel="stylesheet" type="text/css" href="styles/group.css"/>
        <link rel="stylesheet" type="text/css" href="styles/index.skin/index.css"/>
		<link rel="stylesheet" type="text/css" href="styles/common.skin/common.css"/>
		<script type="text/javascript" src="js/jquery.js"></script>
        <!--/*-->
        <script type="text/javascript" src="js/dev.js"></script>
        <!--*/-->
        <script type="text/javascript" src="js/all.js"></script>
	</head>
<body>
	<div id="header" th:replace="/其他/头部通用.html"></div>
		新闻中心频道页
	<!-- 底部 start -->
	<div id="footer" th:replace="/其他/底部通用.html"></div>
	<!-- 底部 end -->
</body>
</html>