<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>德雅通科技有限公司include</title>
        <base href="/template/"/>
        <link rel="stylesheet" type="text/css" href="styles/group.css"/>
        <link rel="stylesheet" type="text/css" href="styles/index.skin/index.css"/>
		<link rel="stylesheet" type="text/css" href="styles/common.skin/common.css"/>
		<script type="text/javascript" src="js/jquery.js"></script>
        <!--/*-->
        <script type="text/javascript" src="js/dev.js"></script>
        <!--*/-->
        <script type="text/javascript" src="js/all.js"></script>
	</head>
<body>
	<div class="g-bg">
        <!-- 底部 start -->
        <!--#include virtual='/include/header.html'-->
        <!-- 底部 end -->
		<div class="g-1st">
			<h2>从&nbsp;数&nbsp;据&nbsp;到&nbsp;智&nbsp;能</h2>
			<h3>互联网 + 政务服务 + 大数据</h3>
		</div>
		<div class="g-2nd g-bd">
			<div class="box">
			    <ul id="g-2nd-cont">
                    <li>
                        <a target="_blank" th:href="'/xwzx.list'" class="box-cont1">
                            <div class="g-2nd-img img1"></div>
                            <h1>新闻中心</h1>
                            <h2>Government Portal</h2>
                            <h3>带来数据库方式的管理便捷性、搜索引擎模式的卓越体验</h3>
                            <h4>基于弹性扩展架构的海量数据存储和检索系统，实现大数据存储、管理和检索的高度一体化。</h4>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" th:href="'/zwgk.list'" class="box-cont1">
                            <div class="g-2nd-img img2"></div>
                            <h1>政务公开</h1>
                            <h2>Internet Government Affairs</h2>
                            <h3>助力企业数据仓库成为商业智能查询平台, 分析历史数据、预测趋势</h3>
                            <h4>是一种大规模并行处理（MPP）的数据库软件产品，可以管理和处理分布在多个不同主机上的海量数据。</h4>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" th:href="'/gzfw.list'" class="box-cont1">
                            <div class="g-2nd-img img3"></div>
                            <h1>公众服务</h1>
                            <h2>Big Data</h2>
                            <h3>基于机器学习和自然语言处理技术，挖掘文本的潜在价值</h3>
                            <h4>支持云计算架构的文本智能分析平台，对文本数据进行智能分析和语义处理，将非结构化文本转化为结构化知识。</h4>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" th:href="'/hdjl.list'" class="box-cont1">
                            <div class="g-2nd-img img4"></div>
                            <h1>互动交流</h1>
                            <h2>Intelligence</h2>
                            <h3>云、移动和社交时代的新选择</h3>
                            <h4>拥有3000余家大型政府、媒体和企业客户，支持在云计算架构上进行集群化部署和内容管理的云服务模式。</h4>
                        </a>
                    </li>
			    </ul>
			</div>
		</div>
	</div>
	<div class="g-blk15"></div>
	<div class="g-blk10"></div>
	<div class="g-3rd g-bd">
        <div class="g-3rd-slt left">
            <div class="lst-nm"><a target="_blank" th:href="'/xwzx.list'">新闻中心</a></div>
            <div class="g-blk15"></div>
            <div>
                <div class="tt"><a>纪念马克思诞辰200周年大会在京举行</a></div>
                <div class="g-blk10"></div>
                <p >纪念马克思诞辰200周年大会今天上午在人民大会堂举行，中共中央总书记、国家主席、中央军委主席习近平发表重要讲话。<a href="content.html">【查看详细】</a></p>
                <div class="g-blk10"></div>
            </div>
            <div class="g-blk10"></div>
            <ul class="u-list">
                <li>
                    <a>纪念马克思诞辰200周年大会 习近平发表讲话</a>
                    <span>【2018-04-25】</span>
                </li>
            </ul>
        </div>
        <div class="g-3rd-slt right" >
            <div class="lst-nm"><a target="_blank" th:href="'/zwgk.list'">政府文件</a></div>
            <div class="g-blk15"></div>
            <div>
                <div class="tt"><a>纪念马克思诞辰200周年大会在京举行</a></div>
                <div class="g-blk10"></div>
                <p>纪念马克思诞辰200周年大会今天上午在人民大会堂举行，中共中央总书记、国家主席、中央军委主席习近平发表重要讲话。<a href="content.html" th:href="'/xwzx/hyxw/nr.list'">【查看详细】</a></p>
                <div class="g-blk10"></div>
            </div>
            <div class="g-blk10"></div>
            <ul class="u-list">
                <li>
                    <a>纪念马克思诞辰200周年大会 习近平发表讲话</a>
                    <span>【2018-04-25】</span>
                </li>
            </ul>
        </div>
	</div>
	<div class="g-blk15"></div>
	<div class="g-blk10"></div>
	<div class="g-3rd g-bd">
        <div class="g-3rd-slt left">
            <div class="lst-nm"><a target="_blank" th:href="'/gzfw.list'">办事指南</a></div>
            <div class="g-blk15"></div>
            <div>
                <div class="tt"><a>纪念马克思诞辰200周年大会在京举行</a></div>
                <div class="g-blk10"></div>
                <p >纪念马克思诞辰200周年大会今天上午在人民大会堂举行，中共中央总书记、国家主席、中央军委主席习近平发表重要讲话。<a href="content.html">【查看详细】</a></p>
                <div class="g-blk10"></div>
            </div>
            <div class="g-blk10"></div>
            <ul class="u-list">
                <li>
                    <a>纪念马克思诞辰200周年大会 习近平发表讲话</a>
                    <span>【2018-04-25】</span>
                </li>
            </ul>
        </div>
        <div class="g-3rd-slt right" >
            <div class="lst-nm"><a target="_blank" th:href="'/hdjl.list'">互动交流1</a></div>
            <div class="g-blk15"></div>
            <div>
                <div class="tt"><a>纪念马克思诞辰200周年大会在京举行</a></div>
                <div class="g-blk10"></div>
                <p>纪念马克思诞辰200周年大会今天上午在人民大会堂举行，中共中央总书记、国家主席、中央军委主席习近平发表重要讲话。<a href="content.html" th:href="'/xwzx/hyxw/nr.list'">【查看详细】</a></p>
                <div class="g-blk10"></div>
            </div>
            <div class="g-blk10"></div>
            <ul class="u-list">
                <li>
                    <a>纪念马克思诞辰200周年大会 习近平发表讲话</a>
                    <span>【2018-04-25】</span>
                </li>
            </ul>
        </div>
	</div>
    <!-- 底部 start -->
    <!--#include virtual='/include/footer.html'-->
    <!-- 底部 end -->
</body>
</html>