<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <base href="/template/"/>
		<title th:text="${catalog.name + ' —— 西安德雅通科技有限公司'}">德雅通科技有限公司</title>
		<link rel="stylesheet" type="text/css" href="styles/group.css"/>
		<link rel="stylesheet" type="text/css" href="styles/common.skin/common.css"/>
		<link rel="stylesheet" type="text/css" href="styles/qita.skin/qita.css"/>
		<link rel="stylesheet" type="text/css" href="styles/list.css"/>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<!--/*-->
		<script type="text/javascript" src="js/dev.js"></script>
		<!--*/-->
		<script type="text/javascript" src="js/all.js"></script>
        <script type="text/javascript" src="js/appeal.js"></script>
	</head>
	<body>
		<!-- 头部 start-->
		<div id="header" th:replace="/other/头部通用.html"></div>
		<!-- 头部 end-->
		<div class="g-bd m-cpfw">
			<th:block th:with="catalogList = ${#CataData.getCatalogChildrenTree(site.id,catalog.id)}">
				<div class="g-1st-lt left" th:if="${catalogList!=null}">
					<div class="m-lst-tnm">[[${catalog.name}]]</div>
					<ul class="m-lst-nav">
	                    <li th:each="cata : ${catalogList}" th:class="${cata.id == catalog.id ? 'hover':''}">
	                    	<a th:href="${catalog.linkUrl}">[[${cata.name}]]</a>
	                    </li>
					</ul>
				</div>
				<div class="g-1st-lt left" th:if="${catalogList==null}">
					<div class="m-lst-tnm" th:with="parentCatalog = ${#CataData.getCatalog(site.id,catalog.parentId)}">[[${parentCatalog.name}]]</div>
					<ul class="m-lst-nav">
	                    <li th:each="cata : ${#CataData.getCatalogChildrenTree(site.id,catalog.parentId)}" th:class="${cata.id == catalog.id ? 'hover':''}">
	                    	<a th:href="${catalog.linkUrl}">[[${cata.name}]]</a>
	                    </li>
					</ul>
				</div>
			</th:block>
			<div class="g-1st-rt right">
				<div class="m-tnm">
					<div class="m-rst-tnm left">
						<a th:href="${catalog.linkUrl}">[[${catalog.name}]]</a>
					</div>
					<div class="m-local right" >
						当前位置：
						<span><a href="/" >首页</a></span>
						<th:block th:each="c :${#CataData.getCatalogPosition(site.id,catalog.id)}">
							<span>></span><span><a th:href="${catalog.linkUrl}">[[${c.name}]]</a></span>
						</th:block>
					</div>
				</div>
				<div class="g-blk15"></div>
				<div class="m-xwzx">
                    <div style="text-align: center;padding: 10px 0;font-size: 18px;color: #2974cf;font-weight: bold;border: 1px solid #cccccc;border-bottom: none;">信件内容</div>
                    <div class="table2 ">
                        <div class="table2-tr">
                            <div class="table2-th tdbgi2 tdw140 f14B">信件编号</div>
                            <div class="table2-th tdbgi2  t-i20" style="text-align: left;">
                            	[[${appealData.sqCode}]]
                        	</div>
                        </div>
                        <div class="table2-tr">
                            <div class="table2-th tdbgi2 tdw140 f14B">信件标题</div>
                            <div class="table2-th tdbgi2  t-i20" style="text-align: left;">
                            	[[${appealData.title}]]
                        	</div>
                        </div>
                        <div class="table2-tr">
                            <div class="table2-td tdbgi2 tdw140 f14B">公开意愿</div>
                            <div class="table2-td tdbgi2 t-i20">
                            	<span th:if="${appealData.isOpen==1}">公开</span>
                            	<span th:if="${appealData.isOpen==2}">不公开</span>
                        	</div>
                        </div> 
                        <div class="table2-tr">
                            <div class="table2-td tdbgi2 tdw140 f14B">提交时间</div>
                            <div class="table2-td tdbgi2 t-i20">
                            	[[${appealData.createTime}]]
                        	</div>
                        </div>
                        <div class="table2-tr">
                            <div class="table2-td tdbgi2 tdw140 f14B">信件内容</div>
                            <div class="table2-td tdbgi2 t-i20">
                            	[[${appealData.content}]]
                        	</div>
                        </div>
                    </div>
                    <div class="blank15"></div>
                    <div class="blank15"></div>
                    <div style="text-align: center;padding: 10px 0;font-size: 18px;color: #2974cf;font-weight: bold;border: 1px solid #cccccc;border-bottom: none;">回复内容</div>
                    <div class="table2 ">
                        <div class="table2-tr">
                            <div class="table2-td tdbgi2 tdw140 f14B">写信目的</div>
                            <div class="table2-td tdbgi2 t-i20">
                           		[[${appealData.purposeName}]]
                         	</div>
                        </div>
                        <div class="table2-tr">
                            <div class="table2-td tdbgi2 tdw140 f14B">信件状态</div>
                            <div class="table2-td tdbgi2 t-i20">
                        		<span th:if="${appealData.sqStatus==0}">待处理</span>
                        		<span th:if="${appealData.sqStatus==1}">办理中</span>
                        		<span th:if="${appealData.sqStatus==3}">已办结</span>
                        	</div>
                        </div>
                        <div class="table2-tr">
                            <div class="table2-td tdbgi2 tdw140 f14B">办理部门</div>
                            <div class="table2-td tdbgi2 t-i20">
                            	[[${appealData.proDeptName}]]
                        	</div>
                        </div>
                        <div class="table2-tr">
                            <div class="table2-td tdbgi2 tdw140 f14B">办理结果</div>
                            <div class="table2-td tdbgi2 t-i20">
                               	<span th:if="${appealData.sqStatus!=3}">
                               		您好！您提交的信件我们已经收到，正在办理中。请您耐心等待！
                               	</span>
                        		<span th:if="${appealData.sqStatus==3}">
                        			[[${appealData.replyContent}]]
                        		</span>                         
                            </div>
                        </div>
                    </div>
                    <div class="blank15"></div>
                    <div class="blank15"></div>
                    <!--满意度-->
                    <div style="text-align: center;padding: 10px 0;font-size: 18px;color: #2974cf;font-weight: bold;border: 1px solid #cccccc;border-bottom: none; display: block;">满意度评价</div>
                        <div class="m-tb" style="display: block;">
                            <form id="satisForm">
                                <input type="hidden" id="appealId" name="appealId" th:value="${appealData.id}"><!--信件ID-->
                                <input type="hidden" id="actionType" name="actionType" value="insertAppealSatis"><!--表单类型-->
                                <input type="hidden" name="random" id="random" value=""><!--验证码KEY-->
                                <div class="blank12"></div>
                                <div class="op">
                                    <div class="op-lt">满意度：</div>
                                    <div class="op-rt">
                                        <span th:each="satis,satisStat : ${#AppealData.getSatisfactionList()}" th:switch="${satisStat.index}">
                                            <input name="satisId" th:case="0" checked type="radio" th:value="${satis.id}"/>
                                            <input name="satisId" th:case="*" type="radio" th:value="${satis.id}"/>[[${satis.name}]]
                                        </span>
                                    </div>
                                </div>
                                <div class="blank1"></div>
                                <div class="op">
                                    <div class="op-lt">验证码：</div>
                                    <div class="op-rt">
                                        <input id="verifyCode" name="verifyCode" type="text" class="" value=""  maxlength="4" style="width:78px;" />
                                        <img alt="" width="80" height="22" id="img" align="absmiddle"/>&nbsp;&nbsp;
                                        <span class="f_red">*</span>
                                        <a href="javascript:changeCreateImage();">看不清，请换一张</a>
                                    </div>
                                </div>
                                <div class="blank15"></div>
                                <div class="textLeft" style="text-align:center;height: 40px;overflow: hidden;width: 300px;margin: 0 auto;">
                                    <input id="btnOK" name="btnOK" type="button" onclick="insertAppealSatis()" value="提交"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="blank15"></div>
                            </form>
                        </div>
                         <span th:each="count : ${#AppealData.getAppealSatisCountByAppealId(appealData.id)}">
                            [[${count.name}]]:[[${count.totle}]]
                        </span>
                        <!--满意度--> 
                        <!--替结束-->
                    </div>
				</div>
			</div>
			</th:block>
		</div>
		<!-- 底部 start -->
		<div id="footer" th:replace="/other/底部通用.html"></div>
		<!-- 底部 end -->
	</body>
</html>
