<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <base href="./" th:href="'/template/'"/>
		<title>德雅通科技有限公司-搜索结果</title>
		<link rel="stylesheet" type="text/css" href="styles/group.css"/>
		<link rel="stylesheet" type="text/css" href="styles/common.skin/common.css"/>
		<link rel="stylesheet" type="text/css" href="styles/qita.skin/qita.css"/>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<!--/*-->
		<script type="text/javascript" src="js/dev.js"></script>
		<!--*/-->
		<script type="text/javascript" src="js/all.js"></script>
		<style type="text/css">
			em{color:red;}
		</style>
	</head>
	<body>
        <!-- 底部 start -->
        <!--#include virtual='/include/header.html'-->
        <!-- 底部 end -->
		<div class="g-bd">
			用时：[[${took}]]ms
			<div class="m-xwzx">
				<ul class="u-list2">
					<li th:each="item : ${records}">
						<div class="u-list2-img" th:if="${item.thumbnail!=null && item.thumbnail!=''}">
							<a target="_blank" th:href="${item.url}">
								<img th:src="${item.thumbnail}" src="images/common.files/001.jpg"/>
							</a>
						</div>
						<div id="u-list2-cont">
							<div class="u-list2-tt">
								<a target="_blank" th:href="${item.url}" th:utext="${item.title}">[[${item.title}]]</a>
								<span>[[${#dates.format(item.resourcePublicationDate,'yyyy-MM-dd')}]]</span>
							</div>
							<div th:if="${item.resourceSummary!=null && item.resourceSummary!=null}" class="u-list2-p" th:utext="${item.resourceSummary}">
								[[${item.resourceSummary}]]
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!--翻页begin-->
			</div><!--翻页end-->
		</div>
	    <!-- 底部 start -->
	    <!--#include virtual='/include/footer.html'-->
	    <!-- 底部 end -->
	</body>
</html>
